{% extends "StoreApp/base.html" %}

{% load static %}

{% block content %}

    <div class="contenedor-formulario">

        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;">
                {{miFormulario.as_table}}
            </table>
            <input type="submit" value="Enviar" style="width: 150px">
        </form>
    </div>

{% endblock %}