{% extends "StoreApp/base.html" %}

{% load static %}

{% block content %}


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'StoreApp/img/code.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Bienvenido al grupo de trabajo</span>
            <span class="section-heading-lower">El mejor grupo de la UD</span>
          </h2>
          <p class="mb-3"> ¡Aquí aprenderás todo sobre los lenguajes de propramación de diferentes niveles
            con cursos hechos por nosotros!
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Un grupo comprometido</span>
                <span class="section-heading-lower">Con nuestra universidad</span>
              </h2>
              <p class="mb-0">Con más de 5 años de experiencia creando proyectos e
                incultando conocimientos y enseñanzas a los jovenes que quieren entrar al mundo
                de la informática y del software.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}